#activity-table {
  width: auto;
  margin-right: 0px;
  margin-left: auto;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 10% 10%;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  /* max-width: 100%;  */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
}
.grid-profile {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 10% 10% 10%; */
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item-prof {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 20px;
}
#smaller {
  padding-bottom: 20px;
}


.icon,
#runescore,
#total-xp {
  display: inline-block;
}

#loading {
  visibility: hidden;
  position: absolute;
}

#profile-info {
  /* visibility: hidden; */
}

#stat-table {
  text-align: left;
}

#topnav {
  padding-right: 5%;
}

#logo {
  max-height: 70px;
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
