#stat-table {
  text-align: left;
}
#activity-table {
  width: auto;
  min-width: 100%;
  margin-right: 0px;
  margin-left: auto;
  text-align: left;
}
.nav-item {
  padding: 10px;
}
@media screen and (max-width: 1220px) {
  .grid-container div:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-profile div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
}

.grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  /* grid-template-columns: minmax(367px, 300px) minmax(367px, 300px) minmax(367px, 300px); */

  /* grid-template-rows: 10% 10% 10%; */
  /* background-color: #1691f5; */
  padding: 1vw;
  /* justify-content: center; */
}
.grid-item {
  display: inline;
  /* min-width: 500px;  */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 3px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
}
.grid-profile {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 10% 10% 10%; */
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item-prof {
  /* background-color: navy; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 20px;
  text-align: center;
}
#smaller {
  padding-bottom: 20px;
}

.icon,
#runescore,
#total-xp {
  display: inline-block;
}

#loading {
  visibility: hidden;
  position: absolute;
}

#searchbar {
  padding-bottom: 6px;
  min-height: 35px;
}

#topnav {
  padding-right: 5%;
  background-color: #222;
}

#logo {
  max-height: 70px;
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
