#stat-table {
  text-align: left;
}
#activity-table {
  width: auto;
  min-width: 100%;
  margin-right: 0px;
  margin-left: auto;
  text-align: left;
}
.nav-item {
  padding: 10px;
}

.grid-container {
  display: grid;
  /* width: 100vw; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* grid-template-columns: minmax(367px, 300px) minmax(367px, 300px) minmax(367px, 300px); */
  
  /* grid-template-rows: 10% 10% 10%; */
  /* background-color: #1691f5; */
  padding: 1vw;
  
  justify-content: center;
}
      /* @media screen and (max-width: 1220px) { */
      @media screen and (max-width: 420px) {
        .grid-container div:nth-child(2) {
          grid-column: 1;
          grid-row: 1;
        }
        .grid-container div:nth-child(1) {
          grid-column: 1;
          grid-row: 2;
        }
        .grid-container div:nth-child(3) {
          grid-column: 1;
          grid-row: 3;
        }
        .grid-profile div:nth-child(2) {
          grid-column: 2;
          grid-row: 1;
        }
        .grid-container {
          padding: 0vw;
        }
      }
.grid-item {
  display: inline;
  padding: 1vw;
  /* min-width: 200px;  */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 3px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
}
.grid-profile {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 10% 10% 10%; */
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item-prof {
  /* background-color: navy; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 20px;
  text-align: center;
}
#smaller {
  padding-bottom: 20px;
}

.icon,
#runescore,
#total-xp {
  display: inline-block;
}

#loading {
  /* visibility: hidden; */
  position: absolute;
}

#searchbar {
  padding-bottom: 6px;
  min-height: 35px;
}

#topnav {
  padding-right: 5%;
  background-color: #222;
}

#logo {
  max-height: 70px;
}
#basic-navbar-nav {
  text-align: right;
  padding: 3px;
}

